{% extends "base.html.twig" %}
{% block title %}
	Pannel Admin
{% endblock %}

{% block content %}
	<h1>Liste des utilisateurs</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Pseudo</th>
				<th>Email</th>
				<th>Utilisateur</th>
				<th>Roles</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.pseudo }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.firstName }}
						{{ user.lastName }}</td>
					<td>{{ user.roles|join(', ') }}</td>
					<td>
						<a class="btn btn-sm btn-warning">Modifier</a>
						<form method="post" style="display:inline;">
							<input type="hidden" name="_token" value="{{ csrf_token('delete_user_' ~ user.id) }}">
							<button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">
								Supprimer
							</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="d-flex justify-content-center mb-4">
		<a href="{{ path('product_new') }}" class="btn btn-primary btn-lg">Ajouter un nouveau produit</a>
	</div>

	<h1>Liste des produits</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Prix</th>
				<th>Statut</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.price }}
						€</td>
					<td>
						<span class="badge
								                            {% if product.status.value == 'Disponible' %}bg-success{% endif %}
								                            {% if product.status.value == 'EnRupture' %}bg-danger{% endif %}
								                            {% if product.status.value == 'EnPrecommande' %}bg-warning{% endif %}
								                        ">
							{{ product.status.value }}
						</span>
					</td>
					<td>
						<a href="{{ path('product_edit', {id: product.id}) }}" class="btn btn-sm btn-warning">Modifier</a>
						<form action="{{ path('product_delete', {id: product.id}) }}" method="post" style="display:inline;">
							<input type="hidden" name="_token" value="{{ csrf_token('delete_product_' ~ product.id) }}">
							<button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')">
								Supprimer
							</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
