<div {{ attributes }}>
	<div class="mb-5">
		<input class="form-control form-control-lg me-2" type="search" data-model="query" placeholder="Recherchez un produit">
	</div>

	<div class="row">
		{% for product in this.products %}
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<a href="{{ path('product_details', {id: product.id}) }}">
						<img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">

						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
						</a>
						<p class="card-text">{{ product.description }}</p>
						<p class="card-text">
							<strong>Prix :</strong>
							{{ product.price }}
							€
						</p>
					</div>
					<div class="card-footer">
						<form action="{{ path('cart_add', {id: product.id}) }}" method="post" class="d-flex justify-content-between">
							<input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}" class="form-control w-50 me-2" {% if product.status.value == 'en_rupture' %} disabled {% endif %}>
							<button type="submit" class="btn btn-success btn-sm" {% if product.status.value == 'en_rupture' %} disabled {% endif %}>
								Ajouter au panier
							</button>
						</form>

					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
